.forgetpassword{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgetpasswordWrapper{
    width: 100vw;
    height: 100vh;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin: 80%;
    
}

.forgetpasswordtitle{
    text-align: center;
}

.forgetpasswordBox{
    height: 250px;
    width: 250px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    display: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}
.oldpassword{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    justify-content: space-between;
}
.newpassword{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    justify-content: space-between;
}
.confirmpassword{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    justify-content: space-between;
}
.forgetpasswordButton{
    color:white;
    margin: 10px;
    background-color: #1755ee;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

a{
    text-decoration: none;
}