.homeWrapper{
    display: flex;
    margin: none;
    padding: none;
}
/* .sidebar{
    width: 20%;
}
.feed{
    width: 20%;
} */
.home-caurosel{
    width: 1400px;
    height: 500px;
    padding:40px
}
.homeCaurosel{
    width: 1300px;
    height: 400px;
    padding-left: 80px;
}