.footerConainer{
    background-color: grey; 
    width: 100%;
}
.footerWrapper{
    display: flex;
    background-color: grey;
}
.footer1{
    width: 300px;
    height: 80px;
    padding-right: 10px;
    margin-top: 10px;
}
.footer2{
    text-align: left;
    margin-top: 10px;
}
.footer3{
    width: 150px;
    height: 80px;
    padding-right: 10px;
    margin-top: 10px;
}
.footer4{
    text-align: left;
    margin-top: 10px;
}
.call{
    margin-bottom: 1px;
}
.offerings{
    text-align: left;
}