.title{
    font-size: 40px;
    color: white;
}
.titleContainer{
    width:600px;
    height: 300px;
    padding-right: 200px;
    padding-top: 200px;
    margin-left: 100px;

}
.text1{
    text-align: left;
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 100px;
}
.text2{
    text-align: left;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 3px;
}
.heading1{
    color: #1775ee;
    text-align: left;
    padding-right: 100px;
    padding-left: 100px;
}
.heading2{
    color: #1775ee;
    text-align: left;
    padding-right: 120px;
    padding-left: 120px;
}
.text4{
    text-align: left;
    padding-bottom: 0px;
    padding-right: 130px;
    padding-left: 130px;
        
}
.text3{
    text-align: left;
    padding-bottom: 0px;
    padding-right: 110px;
    padding-left: 110px;
    
}
.image{
    margin: 60px;
}
