*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    background: grey;
    color: white;
    height: 100vh;
}
.top_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
.link{
    display: flex;
    /* padding: 10px 15px; */
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    
}
.link:hover{
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(59, 57, 57);
}
.icon{
    width: 30px;
    height: 30px;
    font-size: 28px !important;
}
.linkText{
    padding: 10px;
    margin-bottom: 10px;
}
